<div class="Cwhole">
  <main class="Cwhole_cardpage">
    <section class="Cwhole_cardpage_top">
      <h2 class="Cwhole_cardpage_top_text">支払い方法</h2>
    </section>
    <%= form_with html:{class:"Cwhole_cardpage_form"},local: true do |f| %>
      <div class="Cwhole_cardpage_form_detail">
        <div class="Cwhole_cardpage_form_detail_info">
          <div class="Cwhole_cardpage_form_detail_info_form1">
            <label for="Cwhole_cardpage_form_detail_info_form1_text">カード番号</label>
            <span class="Cwhole_cardpage_form_detail_info_form1_mark">必須</span>
          </div>
          <%= f.text_field :hoge, class:"Cwhole_cardpage_form_detail_info_form2", placeholder:"1234 5678 1234 5678" %>
          <%= image_tag "visa-logo.svg" %>
          <%= image_tag "master-logo.svg" %>
          <%= image_tag "saison-logo.svg" %>
          <%= image_tag "JCB-logo.svg" %>
          <%= image_tag "Amex-logo.svg" %>
          <%= image_tag "dinersclub-logo.svg" %>
          <%= image_tag "discover-logo.svg" %>
        </div>
        <div class="Cwhole_cardpage_form_detail_expire">
          <div class="Cwhole_cardpage_form_detail_expire_form3">
            <label class="Cwhole_cardpage_form_detail_expire_form3_text">有効期限</label>
            <span class="Cwhole_cardpage_form_detail_expire_form3_mark">必須</span>
          </div>
          <div class="Cwhole_cardpage_form_detail_expire_form4">
            <%= f.select :hoge,["--","1","2","3","4","5","6","7","8","9","10","11","12"],{},{class:"Cwhole_cardpage_form_detail_expire_form4_month"} %>
            <span class="Cwhole_cardpage_form_detail_expire_form4_text1">月</span>
            <%= f.select :hoge,@years,{},{class:"Cwhole_cardpage_form_detail_expire_form4_year"} %>
            </select>
            <span class="Cwhole_cardpage_form_detail_expire_form4_text2">年</span>
          </div>
        </div>
        <div class="Cwhole_cardpage_form_detail_code">
          <div class="Cwhole_cardpage_form_detail_code_text">
            <label for="Cwhole_cardpage_form_detail_code_text_cecu">セキュリティーコード</label>
            <span class="Cwhole_cardpage_form_detail_code_text_mark">必須</span>
          </div>          
          <%= f.text_field :hoge,class:"Cwhole_cardpage_form_detail_code_form5",placeholder:"カード背面４ケタもしくは３ケタの番号" %>
          </div>
          <div class="Cwhole_cardpage_form_detail_code_form6">
            <span>
              <i class="fas fa-question-circle">
              </i>
            </span>
            <span>カード裏面の番号とは？</span>
          </div>
        </div>
        <%= f.submit "登録する",class:"Cwhole_cardpage_form_detail_submit" %>
        <div class="Cwhole_cardpage_form_detail_return">もどる
        </div> 
      </div>
    <%end%>
  </main>
</div>