<div class="breadCrumbs"></div>
<div class="base">
  <div class="base__main">
    <div class="base__main__top">
      <div class="base__main__top__name">テレワーク</div>
      <div class="base__main__top__photo">
        <div class="base__main__top__photo__image">
          <%= image_tag "商品詳細.png" %>
        </div>
      </div>
      <div class="base__main__top__value">
        <div class="base__main__top__value__price">¥1,000,000</div>
        <div class="base__main__top__value__tax">(税込) 送料込み</div>
      </div>
      <div class="base__main__top__btn">購入画面へ進む</div>
      <div class="base__main__top__info">テレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワーク</div>
      <div class="base__main__top__table">
        <div class="base__main__top__table__box1">
          <div class="base__main__top__table__box1__left">商品者</div>
          <div class="base__main__top__table__box1__right">太郎メルカリ</div>
        </div>
        <div class="base__main__top__table__box2">
          <div class="base__main__top__table__box2__left">カテゴリー</div>
          <div class="base__main__top__table__box2__right">おもちゃ・ホビー・グッズ</div>
        </div>
        <div class="base__main__top__table__box3">
          <div class="base__main__top__table__box3__left">ブランド</div>
          <div class="base__main__top__table__box3__right">zoom</div>
        </div>
        <div class="base__main__top__table__box3">
          <div class="base__main__top__table__box3__left">商品の状態</div>
          <div class="base__main__top__table__box3__right">全体的に状態が悪い</div>
        </div>
        <div class="base__main__top__table__box3">
          <div class="base__main__top__table__box3__left">送料の負担</div>
          <div class="base__main__top__table__box3__right">送料込み（出品者負担）</div>
        </div>
        <div class="base__main__top__table__box3">
          <div class="base__main__top__table__box3__left">配送の方法</div>
          <div class="base__main__top__table__box3__right">香川県</div>
        </div>
        <div class="base__main__top__table__box3">
          <div class="base__main__top__table__box3__left">発送日の目安</div>
          <div class="base__main__top__table__box3__right">４〜７日で発送</div>
        </div>
      </div>
    </div>
    <div class="base__main__comment">
      <textarea class="base__main__comment__text"></textarea>
      <div class="base__main__comment__info">相手のことを考え丁寧なコメントを心がけましょう。<br>不快な言葉遣いなどは利用制限や退会処分となることがあります。</div>
      <div class="base__main__comment__btn">コメントする</div>
    </div>
    <div class="base__main__others">
      <div class="base__main__others__title">太郎メルカリさん</div>
      <div class="base__main__others__list">
        <div class="base__main__others__list__image1">
          <%= image_tag "出品.png" %>
        </div>
        <div class="base__main__others__list__image1">
          <%= image_tag "出品.png" %>
        </div>
        <div class="base__main__others__list__image1">
          <%= image_tag "出品.png" %>
        </div>
        <div class="base__main__others__list__image1">
          <%= image_tag "出品.png" %>
        </div>
      </div>
    </div>
    <div class="base__main__listing">
      <div class="base__main__listing__title">画材（おもちゃ・ホビー・グッズ）その他の商品</div>
      <div class="base__main__listing__list">
        <div class="base__main__listing__list__image1">
          <%= image_tag "出品.png" %>
        </div>
        <div class="base__main__listing__list__image1">
          <%= image_tag "出品.png" %>
        </div>
        <div class="base__main__listing__list__image1">
          <%= image_tag "出品.png" %>
        </div>
        <div class="base__main__listing__list__image1">
          <%= image_tag "出品.png" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="eight">
  <div class="eight__box">
    <h2 class="eight__box__top">
    だれでもかんたん、人生を変えるフリマアプリ
    </h2>
    <p class="eight__box__middle">
      今すぐ無料ダウンロード！
    </p>
    <div class="eight__box__bottom">
      <div class="eight__box__bottom__left"></div>
      <div class="eight__box__bottom__right"></div>
    </div>
  </div>
</div>
